<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}

        <img src="/img/Headshot4Mp.jpg">

        {{>footer}}
    </body>
</html>