<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.jpg" >
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>Use this site to get your weather!</p>

             <form>
                 <input placeholder="City">
                 <button>Search</button>
             </form>
        </div>
        {{>footer}}

        <!-- script has to be last because in app.js, form needs to already exist -->
        <script src="/js/app.js"></script>
    </body>
</html>